<div class="about-header">
  <div class="about-photo">
    <div class="line"></div>
    <div class="photo">
      <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/15894932_105522773288257_7405667395329646182_n.jpg?oh=1fff60854c58827ba2c998e6a7487ad5&oe=59F993B9" alt="Author">
    </div>
    <div class="line"></div>
  </div>
  <div class="about-info">
    <div class="line"></div>
    <h2>Vladimir Burdenkov</h2>
    <p>Junior Front-end Developer</p>
  </div>
</div>

<div class="about-author">
  <div class="about-me">
    <h2>About me:</h2>
  </div>
  <div class="about-me-info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, expedita.</p>
    <p>Culpa cumque doloremque eius ipsa modi natus provident sequi similique.</p>
    <p>Accusantium dignissimos eos eveniet ipsa similique! Enim error molestiae voluptates.</p>
    <p>Architecto deleniti dolor dolorum fugit illum numquam optio rerum voluptatem.</p>
    <p>At exercitationem facilis hic itaque iure minus omnis qui ratione!</p>
    <p>Animi delectus et maxime minima placeat reprehenderit tenetur ut voluptatum.</p>
  </div>
</div>
